:root {
    --background-color: #fff6e7;
    --primary-color: #208db8;
    --secondary-color: #013e7c;
    --form-background: #5b9492;
}

.report-body {
    margin: 0px;
    background-color: var(--background-color);
    min-height: 100vh;
}

h1 {
    color: rgb(170, 161, 30);
}

h2 {
    color: rgb(37, 56, 119);
}

.report {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}

.food-image-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    height: 500px;
}

.image-container {
    display: flex;

    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}

.food-image {
    height: inherit;
    object-fit: cover;
}

.food-analytics {
    max-width: 50%;
    padding-left: 2rem;
    border-left: solid black;
}

.food-analytics h1 {
    color: var(--form-background);
    text-align: center;
    text-decoration: underline;
}

.food-analytics h2 {
    color: var(--primary-color);
}

.food-analytics p {
    color: var(--secondary-color);
}